@media_edge_phone_portrait: 320px;
@media_edge_phone_landscape: 640px;
@media_edge_tablet_portrait: 800px;
@media_edge_tablet_landscape: 1024px;
@media_edge_desktop: 1824px;

@media_start_phone_landscape: (@media_edge_phone_portrait + 1);
@media_start_tablet_portrait: (@media_edge_phone_landscape + 1);
@media_start_tablet_landscape: (@media_edge_tablet_portrait + 1);
@media_start_desktop: (@media_edge_tablet_landscape + 1);
@media_start_desktop_xl: (@media_edge_desktop + 1);


@import "partial/media";
@import "partial/mixins";

.grid {
	* {
		text-decoration: none;
		cursor: default;
		margin: 0;
		padding: 0;
	}

	a { cursor: pointer; }

	.row {
		width: 100%;
		display: block;
		position: relative;
		overflow: hidden;
		.noborder();
		.borderbox();

		.columns(12);
		.columns(@n, @i: 1) when (@i =< @n) {
			@width: percentage( floor((@i / @n) * 100000) / 100000 );

			.col@{i} { width: @width; max-width: @width; }
			.pre@{i} { margin-left: @width; }
			.post@{i} { margin-right: @width; }
			.columns(@n, (@i + 1));
		}

		@media @phone-portrait, @phone-landscape {
			.pre1, .pre2, .pre3, .pre4, .pre5, .pre6,
			.pre7, .pre8, .pre9, .pre10, .pre11, .pre12 { margin-left: 0 !important; }
			.post1, .post2, .post3, .post4, .post5, .post6,
			.post7, .post8, .post9, .post10, .post11, .post12 { margin-right: 0 !important; }
		}

		@media @phone-portrait, @phone-landscape {
			.col1, .col2, .col3, .col4, .col5, .col6,
			.col7, .col8, .col9, .col10, .col11, .col12 {
				width: 100% !important;
				max-width: 100% !important;
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}

		@media @phone-portrait, @phone-landscape {
			.visible-phone { display: block !important; }
			.hidden-phone, .visible-desktop, .visible-tablet { display: none; }
		}

		@media @tablet-portrait, @tablet-landscape {
			.visible-tablet { display: block !important; }
			.hidden-tablet, .visible-phone, .visible-desktop { display: none; }
		}

		@media @desktop, @desktop-xl {
			.visible-desktop { display: block !important; }
			.hidden-desktop, .visible-phone, .visible-tablet { display: none; }
		}

		& > * {
			.borderbox();
			.inlineblock();
			float: left;
		}

		& > *:last-child {
			float: none;
			&:after {
				box-sizing: border-box;
				line-height: 0 !important;
				content: "";
				display: inline-block;
				position: absolute;
				height: 0px;
			}
		}
	}
}
